.todo-item {
    width: 500px;
    padding: 8px;
    border: 1px solid gray;
    margin-top: 10px;
    display: inline-block;
}

.todo-item .todo-done {
    text-decoration: line-through;
}

h1, h2{
    text-align: center;
}

h3{
    text-align: center;
    font-weight: normal;
}

.todo-input{
    text-align: center;
}

.todo-row{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    border: black 1px solid;
    margin-top: 10px;
    padding: 10px;
    margin-left: 10px;
}

#delete-button{
    background-color: red;
    margin-left: 10px;
}

#detail-button{
    background-color: lightgreen;
}

#add-todo-button{
    padding: 8px;
    border: none;
    background-color: #6495ee;
    color: white;
    width: 60px;
}

#todo-input{
    width: 400px;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 3px;
    margin-top: 10px;
    text-align: center;
    display: inline-block;
}

.display-message, #todo-detail{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: large;
}